{% extends 'reader/base.html' %}

{% block title %}
{% load i18n %}
{% load static %}
<title>{% trans 'Сброс пароля' %}</title>
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}
{% if validlink %}
<h1 class="w-max text-base mx-auto font-bold md:text-xl" style="font-size: 16px;">{% trans 'Пожалуйста введите свой новый пароль дважды' %}</h1>
<form action="." method="post" class="max-w-xl mx-auto">
    {% csrf_token %}
    <input class="input_custom"  placeholder="password" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
    <input class="input_custom" placeholder="repeat password" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    <input class="submit_button" style="width: max-content;" type="submit" value="{% trans 'Поменять мой пароль' %}">
</form>
{% else %}
<p>{% trans 'Ссылка для востановления неверна, возможно из за по причине того что она уже была использована' %}</p>
{% endif %}
{% endblock %}