{% extends 'reader/base.html' %}

{% block title %}
{% load i18n %}
{% load static %}
<title>{% trans 'Сброс пароля' %}</title>
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}
<h1 class="paragraph_name" style="font-size: 14px;" >{% trans 'Для востановления пароля введите ваш Email' %}</h1>
<form action="." method="post">
    {% csrf_token %}
    <input placeholder="Email" class="input_custom" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
    <input class="submit_button" type="submit" value="{% trans 'Выслать письмо' %}">
</form>
{% endblock %}