{% extends 'reader/base.html' %}

{% block title %}
{% load i18n %}
<title>{% trans 'Сброс пароля' %}</title>
{% endblock %}

{% block content %}
{% if validlink %}
<h1>{% trans 'Пожалуйста введите свой новый пароль дважды' %}</h1>
<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="{% trans 'Поменять мой пароль' %}">
</form>
{% else %}
<p>{% trans 'Ссылка для востановления неверна, возможно из за по причине того что она уже была использована' %}</p>
{% endif %}
{% endblock %}