{% extends 'reader/base.html' %}

{% block title %}
{% load i18n %}
{% load static %}
<title>{% trans 'Создать аккаунт' %}</title>
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}
<h1 class="w-max text-base mx-auto font-bold md:text-xl">{% trans 'Зарегистрируйтесь с помощью формы ниже' %}</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="." method="post" class="max-w-xl md:mt-8 mt-5 mx-auto">
    <div class="error_handler">
    {% for error in form.errors.values %}
        {{error}}
    {% endfor %}
    </div>
    {% csrf_token %}
    {% for field in form %}
    {{field.errors}}
        <div class="error_handler">{{field.error}}</div>
        {{field}}
    {% endfor %}
    <input class="submit_button" style="width: 45%; padding: 5px" type="submit" value="{% trans 'Зарегистрироваться' %}">  
</form>
{% endblock %}