{% extends 'reader/base.html' %}


{% block title %}
{% load i18n %}
{% load static %}
<title>{% trans 'Редактировать пользовательские данные' %}</title>
<link rel="stylesheet" href="{% static 'account/login.css' %}">
{% endblock %}

{% block content %}

{% if  profile_photo %}
{% load static %}
<img src="{% static profile_photo %}" alt="Profile_photo" style='width: 20%; height: 30%'>
{% endif %}
<form action='.' method='post' enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in user_form %}
    <div class="error_handler">{{field.errors.as_text}}</div>
    {{field}}
  {% endfor %}
  {{profile_form.as_p}}
  <input type="submit" value='{% trans "Сохранить данные" %}'>
</form>


{% endblock %}
