{% extends 'reader/base.html' %}

{% block title %}
{% load i18n %}
<title>{% trans 'Ваши закладки' %}</title>
{% endblock %}

{% block content %}
{% if bookmarks %}
<div>{% trans 'Ваши закладки' %}</div>
{% for bookmark in bookmarks %}
<a class='font-semibold' style="color: #6941C6;" href="{% url 'chapter_detail' manga_slug=bookmark.manga.slug chapter_slug=bookmark.chapter.name %}">{{bookmark.chapter}}</a>
{% endfor %}
{% else %}
<div>{% trans 'У вас пока нет ни одной закладки. Начните читать и сделайте свою первую закладку!' %}</div>
{% endif %}
{% endblock %}