{% extends "reader/base.html" %}

{% block title %}
{% load i18n %}
<title>{% trans 'Главы' %}</title>
{% endblock %}

{% block content %}
<div class="flex gap-8 relative sm:mb-3 items-center">
<nav class="w-full rounded-md" style="padding-left: 1rem;">
  <ol class="list-reset flex sm:text-lg text-base" style="color: #6941C6; font-weight: 600;">
    <li>
      <a
        href="{% url 'landing' %}"
        class="transition duration-150 ease-in-out "
        >{% trans 'Home' %}</a
      >
    </li>
    <li>
      <span class="mx-2">/</span>
    </li>
    <li>
      <a
        href="{% url 'manga_list' %}"
        class="transition duration-150 ease-in-out "
        >{% trans 'Mangas' %}</a
      >
    </li>
    <li>
      <span class="mx-2">/</span>
    </li>
    <li>
      <a
        class="transition duration-150 ease-in-out "
        >{% trans 'Chapters' %}</a
      >
    </li>
  </ol>
</nav>
{% include 'reader/site_navigation.html' %}
</div>
<div class="page_content" >
<div class="p-2 m-2 font-semibold">
  {% trans   'Dr. Stone is a Japanese manga series written by Riichiro Inagaki and illustrated by Boichi, serialized in Weekly Shōnen Jump since March 6, 2017, with the individual chapters collected and published by Shueisha into ten tankōbon volumes as of April 2019. Shueisha began to simul publish the series in English on the website and app Manga Plus since January 2019.' %}
</div>
{% for chapter in chapters %}
    <div class="mx-4 mb-3">
        <a class='font-semibold' style="color: #6941C6; text-decoration: underline; text-underline-offset: 5px; text-decoration-color: rgba(0, 0, 0, 0.393);" href="{% url 'chapter_detail' manga_slug=chapter.manga.slug chapter_slug=chapter.name %}">{{chapter}}</a>
    </div>
{% endfor %}
</div>
{% endblock %}