{% extends 'reader/base.html' %}


{% block title %}
{% load i18n %}
{% load static %}
<title>{% blocktrans %} Манга {{chapter.manga.name}} {% endblocktrans %}</title>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.4/dist/lazyload.min.js"></script>
<link rel="stylesheet" href="{% static 'reader/chapter_detail.css' %}">
{% endblock %}

{% block content %}
<nav class="w-full rounded-md pl-4 mb-6 ">
  <ol class="list-reset flex sm:text-lg text-base sm:mx-5" style="color: #6941C6; font-weight: 600;">
    <li>
      <a
        href="{% url 'landing' %}"
        class="transition duration-150 ease-in-out "
        >{% trans 'Home' %}</a
      >
    </li>
    <li>
      <span class="mx-2">/</span>
    </li>
    <li>
      <a
        href="{% url 'manga_list' %}"
        class="transition duration-150 ease-in-out "
        >{% trans 'Mangas' %}</a
      >
    </li>
    <li>
      <span class="mx-2">/</span>
    </li>
    <li>
      <a
        href="{% url 'chapter_list' manga_slug=chapter.manga.slug %}"
        class="transition duration-150 ease-in-out "
        >{% trans 'Chapters' %}</a
      >
    </li>
  </ol>
</nav>
<div class='mt-6'> 
    <div class="content_block">
{% for picture in images %}
<img class="{% if forloop.counter > 2 %}lazy{% endif %} manga_img" {% if forloop.counter > 2 %}data-{% endif %}src="{{ picture.img.url }}"  alt="{{picture.img.name}}" data-srcset="{{ picture.medium_img.url }} 650px" data-sizes="(max-width: 650px) 650px">
{% endfor %}
</div>
<div class="flex flex-col md:mx-5">
<div class="flex justify-between m-3  text-white" >
{% if previous %}
<a class="w-32 justify-center p-1 font-semibold rounded-md flex gap-2 items-center border-2 border-black prev_nav_buttons"  href="{% url 'chapter_detail' manga_slug=previous.manga.slug  chapter_slug=previous.name %}">{% blocktrans %} Previous {{previous.chapter_number}} {% endblocktrans %}</a> 
    {% endif %}
    {% if next %}
<a  class="p-1 font-semibold nav_buttons border-2 border-black flex gap-3 items-center rounded-md w-32 justify-center"  href="{% url 'chapter_detail' manga_slug=next.manga.slug  chapter_slug=next.name %}">{% blocktrans %} Next {{next.chapter_number}}{% endblocktrans %}</a>
    {% else %}
<a class="p-1 font-semibold nav_buttons flex items-center rounded-md border-2 border-black" href="{% url 'chapter_list' manga_slug=chapter.manga.slug %}">{% trans 'На страницу тайтла' %}</a>
    {% endif %}
</div>
<div class="like_errors error_handler pl-2 ml-1"></div>
<!-- Like error shows here -->
<div class="flex gap-8 pl-5 place-content-start border-2 m-3  rounded-md border-black">
<div class="like_panel flex items-center gap-4">
    {% with total_likes=chapter.likes.count chapter_likes=chapter.likes.all %}
    <span class='total'>{{total_likes}}</span>
    <span class="like_pluralize">{% blocktrans %} Like {{ total_likes|pluralize }} {% endblocktrans %}</span>
    {% if request.user not in chapter_likes %}
    <svg xmlns="http://www.w3.org/2000/svg" data-action='like' data-slug="{{chapter.name}}" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-7 h-7 like_svg">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
    </svg>
    {% elif request.user in chapter_likes %}
    <svg xmlns="http://www.w3.org/2000/svg" data-action='unlike' data-slug="{{chapter.name}}" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-7 h-7 like_svg">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
    </svg>
    {% endif %}
    {% endwith %}
</div>
   <div class='total_views text-2xl flex items-center gap-4'>{{ total_views }} <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" /><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" /></svg></div>
</div> 
<div class="text-black p-2 m-2" >
    <div class="font-bold text-lg mb-3 md:text-xl">{% trans 'Комментарии' %}</div>
    <div class="comments_errors error_handler mb-2"></div>
    <!-- Comment error shows here -->
    <form>
        {% csrf_token %}
        <textarea class="mb-2 rounded-md p-2 w-5/6 custom_input" style="height: 100px" required type="text" name="text" maxlength="800" id="id_text" placeholder="Text"></textarea>
        <button class="submit_block comment_submit border-2 rounded-md p-1 max-w-xs" type='submit' style="display: flex; justify-content: space-between;">
        {% trans 'Oставить коммент' %}
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
            <path
                d="M5.38499 9.05314L3.38428 2.55212C8.17016 3.94381 12.6833 6.14241 16.7292 9.05314C12.6836 11.9643 8.17072 14.1634 3.38501 15.5556L5.38499 9.05314ZM5.38499 9.05314H10.8794"
                stroke="url(#paint0_linear_28_40)" stroke-width="1.46518" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
                <linearGradient id="paint0_linear_28_40" x1="6.7205" y1="15.5556" x2="13.1206" y2="2.41942"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#53389E" />
                    <stop offset="1" stop-color="#6941C6" />
                </linearGradient>
            </defs>
        </svg>
        </button>
    </form>
    <div class='comments mt-4 md:w-5/6'>
        {% load humanize %}
    {% for comment in comments %}
        <div class='comment mb-2 rounded-md border-2 border-black p-2 flex flex-row gap-5'>
        <img src="{% static comment.user.profile.photo.url %}" alt="User photo" class="w-16 h-16 object-cover">
        <div>
        <div class="font-bold ">{{comment.user}}</div>
        <div class="text-gray-600">{{comment.created_at|naturaltime}}</div>
        <div class="font-medium">{{comment.text}}</div>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
    <!-- Comments -->
</div>
<!-- user actions section flex col -->
</div>
<!-- just container -->
</div>

<script>
var lazyLoadInstance = new LazyLoad({threshold: 800});
</script>
<script id="error_invalid_login">
{% blocktrans %}Пожалуйста войдите или зарегистрируйтесь на сайте{% endblocktrans %} <a class='error_link' href={% url 'login' %}>{% trans 'Войти' %}</a>
</script>
<script id="eror_something_went_wrong">
    "{% trans 'Something went wrond. Please try again!' %}"
</script>
<script>
function getCookie(name) { let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function sendAjaxRequest(formdata, onSuccess, onError) {
    url = '{% url "chapter_user_action" %}'
    const csrftoken = getCookie('csrftoken');
    const request = new Request(url, {
        method: 'POST',
        body: formdata,
        headers: { 'X-CSRFToken': csrftoken, 'x-requested-with': 'XMLHttpRequest' },
        mode: 'same-origin'
    });

    fetch(request)
        .then(response => response.json())
        .then(data => {
            if (data['status'] === 'ok') {
                onSuccess(data);
            } else {
                onError(data);
            }
        });
}

function updateLikeAction(newAction, newTotal, total_span) {
    // Here newAction is opposite xD
    if (newAction === 'like') {
        fill = 'none'
    }
    else{
        fill = 'black'
    }
    like_but.setAttribute('fill', fill)
    like_but.dataset.action = newAction;
    total_span.innerHTML = newTotal + ' ';
    like_pluralize = document.querySelector('span.like_pluralize')
    like_pluralize.innerHTML = 'Like {{newTotal | pluralize}}';
}
function error_handle(data, type){
        if (type === 'like'){
            errors_panel = document.querySelector('.like_errors')
        }
        else if (type === 'comment'){
            errors_panel = document.querySelector('.comments_errors')
        }
        if (data['status'] === 'invalid_login') {
            error_message = document.createElement('div')
            erorr_mes_text = document.getElementById('error_invalid_login').innerHTML
            error_message.innerHTML = erorr_mes_text;
        } else if (data['status'] === 'error') {
            error_message = document.createElement('div')
            erorr_mes_text = document.getElementById('error_something_went_wrong').innerHTML
            error_message.innerHTML = erorr_mes_text;
            }
        if (errors_panel.childElementCount == 0){
            errors_panel.appendChild(error_message)
        }
}

function handleLikeClick(event) {
    const prevAction = like_but.dataset.action;
    event.preventDefault();
    
    const formdata = new FormData();
    formdata.append('action', prevAction);
    formdata.append('slug', chapter_name);

    sendAjaxRequest(formdata,
        data => {
            const newAction = prevAction === 'unlike' ? 'like' : 'unlike';
            const total_span = document.querySelector('span.total')
            const newTotal = parseInt(total_span.innerHTML) + (newAction === 'unlike' ? 1 : -1);
            updateLikeAction(newAction, newTotal, total_span);
        },
        data => {
            error_handle(data, 'like')
        }
    );
}

function handleCommentSubmit(event) {
    event.preventDefault();
    
    const formdata = new FormData();
    formdata.append('slug', chapter_name);
    formdata.append('action', 'comment');
    formdata.append('comment_text', comment_text_field.value);
    
    if (comment_text_field.value) {
        sendAjaxRequest(formdata,
            data => {
                const commentContainer = document.createElement('div');
                commentContainer.classList.add('comment', 'mb-2', 'rounded-md', 'border-2', 'border-black', 'p-2', 'flex', 'flex-row', 'gap-5');
                // Create a username element
                // const usernameElement = document.createElement('div');
                // usernameElement.classList.add('font-bold');
                // usernameElement.textContent = data['user'];

                // // Create a timestamp element
                // const timestampElement = document.createElement('div');
                // timestampElement.classList.add('text-gray-600');
                // timestampElement.textContent = data['created_at'];

                // // Create a comment text element
                // const commentTextElement = document.createElement('div');
                // commentTextElement.classList.add('font-medium');
                // commentTextElement.textContent = data['comment_text'];

                // commentContainer.appendChild(usernameElement);
                // commentContainer.appendChild(timestampElement);
                // commentContainer.appendChild(commentTextElement);
                commentContainer.innerHTML = `
                            <img src="${data['user_photo']}" alt="User photo" class="w-16 h-16 object-cover">
                            <div>
                            <div class="font-bold ">${data['user']}</div>
                            <div class="text-gray-600">${data['created_at']}</div>
                            <div class="font-medium">${data['comment_text']}</div>
                            </div>`;
                first_child = comment_section.firstElementChild
                comment_section.insertBefore(commentContainer, first_child)
                // reset textarea text
                comment_text_field.value = ''
            },
            data => {
                error_handle(data, 'comment')
            }
        );
    }
}

// Event listeners
like_but = document.querySelector('.like_svg');
like_but.addEventListener('click', handleLikeClick);
chapter_name = "{{chapter.name}}"
comment_section = document.querySelector('.comments')
comment_submit = document.querySelector('.submit_block');
comment_text_field = document.querySelector('textarea[type=text]');
comment_submit.addEventListener('click', handleCommentSubmit);

</script>
<script>
commentArea = document.querySelector('.custom_input')
commentArea.addEventListener('keydown', autosize);
function autosize () {
    var el = this;
    setTimeout(function () {
        el.style.cssText = 'height:auto;';
        el.style.cssText = 'height:' + el.scrollHeight + 'px';
    }, 0);
}
</script>
{% endblock %}
