{% extends 'reader/base.html' %}

{% block title %}
{% load i18n %}
{% load static %}
{% load humanize %}
<title>{% trans 'Вся манга' %}</title>
{% endblock %}


{% block content %}
<div class="flex gap-8 relative">
<nav class="w-full sm:w-max rounded-md" style="padding-left: 1rem;">
  <ol class="list-reset flex sm:text-lg text-base" style="color: #6941C6; font-weight: 600;">
    <li>
      <a href="{% url 'landing' %}" class="transition duration-150 ease-in-out ">{% trans 'Home' %}</a>
    </li>
    <li>
      <span class="mx-2">/</span>
    </li>
    <li>
      <a class="transition duration-150 ease-in-out ">{% trans 'Mangas' %}</a>
    </li>
  </ol>
</nav>
{% include 'reader/site_navigation.html' %}
</div>
<div style="color: #6941C6" class="font-medium text-xl mx-4 mt-4">{% trans 'Доступная манга :' %}</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="sm:ml-2 lg:ml-0">
{% for manga in mangas %}
<div class="border-2 border-black m-2 rounded-md sm:w-3/4 flex flex-row gap-3">
	<img class="w-[150px] h-[200px] object-cover" src="{% static manga.poster.url %}" alt="">
  <div class="flex flex-col gap-2">
  <p class="text-[#6941c6] font-[500] text-base my-1">{{manga.name}} / {{manga.slug}}</p>
  <p class="text-gray-500 text-sm mb-3">{{manga.created|naturaltime}}</p>
  <div class="mt-2 text-lg text-[#6941c6] font-[550]">
  <a  href="{% url 'chapter_list' manga_slug=manga.slug %}">{% trans 'Начать читать' %}</a>
  </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
