{% extends 'reader/base.html' %}


{% block title %}
{% load i18n %}
<title>{% trans 'Самые читаемые главы' %}</title>
{% endblock %}

{% block content %}
<h1>{% trans 'Самые залайканые главы' %}</h1>
{% for chapter in most_liked_chapters %}
<div>
<a href="{% url 'chapter_detail' manga_slug=chapter.manga.slug chapter_slug=chapter.name %}">{{chapter.name}}</a>
</div>
{% endfor %}
<h1>{% trans 'Самые просматриваемые главы' %}</h1>
{% for chapter in most_viewed_chapters %}
<div>
<a href="{% url 'chapter_detail' manga_slug=chapter.manga.slug chapter_slug=chapter.name %}">{{chapter.name}}</a>
</div>
{% endfor %}
{% endblock %}
