{% extends 'reader/base.html' %}


{% block title %}
{% load static %}
{% load i18n %}
<title>Фанатский сайт манги</title>
<link rel="stylesheet" href="{% static 'css/landing_specific1.css' %}">
{% endblock %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="sm:absolute sm:bottom-0 sm:right-0" style=" overflow: hidden; z-index: -2;">
<picture>
<source srcset='{% static "colage_336.png" %}' media="(max-width: 336px)">
<source srcset='{% static "colage_504.png" %}' media="(max-width: 640px)">
<source srcset='{% static "colage_962.png" %}' media="(min-width: 640px)">
<img src="{% static 'new_colage1.png' %}" alt="Dr Stone Colage" class="poster object-cover h-[88vw] min-[480px]:h-[78vw] min-[550px]:h-[70vw] w-[90%] sm:w-[750px] sm:h-[1097px] xl:max-w-full" >
</picture>
</div>
<div class="main_paragraph w-[75vw] ml-[10%] sm:w-[51vw] sm:absolute sm: top-[20%] sm:ml-[5%] lg:right-[43%]">
<div class="main_phrase  mt-2" style="margin-bottom: 12px;">
    Фанатский сайт для чтения любимой манги
</div>
<div style="margin-bottom: 24px;" class="text-base">Этот сайт создан для приятного времяпрепровождения</div>
<a href="{% url 'manga_list' %}">
<div class="land_butt flex justify-start items-center p-3 gap-2 hover:bg-slate-900 hover:border-r-2 text-lg" style="width: 190px;">
    <span class="text-base sm:text-xl mx-auto" style="color: #F4CD00">{% trans 'Начать читать' %}</span>
</div>
</a>
</div>
{% endblock %}