<form class="d-flex hidden sm:block absolute right-6" role="search" action='{% url "search" %}' method='post'>
    {% load i18n %}
  {% csrf_token %}
  <div class='search_input border-2 border-black flex' style="border-radius: 1rem;">
    <input style="background-color: #F6BE2C; border-radius: 1rem 0 0 1rem; color: #6941C6"
	   class="reset_input for_placeholder" placeholder="{% trans 'Глава' %}"  name='query' type='search'>
    <button class="search_button" type="submit" style="background-color: #F6BE2C; border-radius: 0 1rem 1rem 0;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="#6941c6"
        class="w-3 h-3" style='padding:5px; width: 34px; height: 37px; border-radius: 0 0 1rem 1rem;'>
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
      </svg>
      <!--    <button class="btn" type="submit">Поиск</button> -->
    </button>
  </div>
</form>
