@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,500,400,399,700);
body {
  font-family: "montserrat", roboto;
  margin: -1;
  background-color: #F5BE2C;
}
.non_scroll{
  overflow-y: hidden;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
}
.menu_ul{
  color: var(--Annotations, #F6BE2C);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  letter-spacing: -0.4px;
}