.main_phrase{
font-family: Montserrat;
/* font-size: 23px; */
font-style: normal;
/* font-weight: 700; */
line-height: 31px; /* 134.783% */
letter-spacing: -0.46px;
/* background: var(--Gradient, linear-gradient(27deg, #53389E 8.33%, #6941C6 91.67%)); */
/* color:  #6941C6; */
color: black;
background-clip: text;
-webkit-background-clip: text;
}
.poster_mobile{
    width: 90%;
}
.land_butt{
    border-radius: 16px;
    border: 2px solid #000;
    box-shadow: -1px 3px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #6941C6;
}

.land_butt:hover{
    border-bottom-width: 4px;
    border-right-width: 4px;
    background: #5B21E3;
    color: #F4CD00;
}
.warning{
    border-radius: 7px;
    width: max-content;
    padding: 5px;
    background: #5300a5;
    color: #F4CD00;
    width: 60%;
    padding-left: 14px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.success{
    border: 1px solid #5300a5;
    border-radius: 7px;
    width: max-content;
    padding: 5px;
    color: #5300a5;
    margin: 0 auto;
    margin-bottom: 5px;
}
