/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap');

body{
  font-family: 'Exo 2', sans-serif;
} */

.main_phrase{
    color: #000;
    font-family: Exo 2;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; 
}

.land_butt{
    border-radius: 16px;
    border: 2px solid #000;
    box-shadow: -1px 3px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #6941C6;
}

.land_butt:hover{
    border-bottom-width: 4px;
    border-right-width: 4px;
    background: #5B21E3;
    color: #F4CD00;
}

.star_background{
    background: url(/static/star.png), radial-gradient(281.29% 37% at 50% 45.4%, #FFF1A5 0%, #F4CD00 100%), #F4CD00;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 639px) {
    .star_background{
        background: unset;

    }
}